/* Component styles - practice typing your memorized values */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.spinner {
  height: 48px;
  width: 48px;
  border: 4px solid lightgray;
  border-bottom-color: #3b81f6;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
