<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>03-card-component</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <article class="card">
      <figure class="card-image">
        <img src="https://placehold.co/400x200" alt="Article Image" />
      </figure>
      <header class="card-header">
        <h3 class="card-title">Wireless Headphones</h3>
        <p class="card-subtitle">Noise Cancelling ● 30 hr battery</p>
      </header>
      <main class="card-content">
        <p>$89.99</p>
      </main>
      <footer class="card-footer">
        <button class="btn-cta">Add to Cart</button>
      </footer>
    </article>
  </body>
</html>
