<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>01-cta-button</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="parent">
      <button class="primary btn">Get Started</button>
      <button class="secondary btn">Learn More</button>
      <button class="success btn">Subscribe Now</button>
    </div>
    <script type="module" src="script.ts"></script>
  </body>
</html>
