<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>03-card-component</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <article class="card">
      <figure class="card-image">
        <img src="https://placehold.co/400x200" alt="Article Image" />
      </figure>
      <header class="card-header">
        <h3 class="card-title">Article Card</h3>
        <p class="card-subtitle">Component #3</p>
      </header>
      <main class="card-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque
          ut at ullam rem doloremque incidunt explicabo velit autem nemo?
        </p>
      </main>
      <footer class="card-footer">
        <small>6 minutes target</small>
        <section>
          <button>Post</button>
          <button>Bookmark</button>
        </section>
      </footer>
    </article>
  </body>
</html>
