<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>03-card-component</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- 03-card-component component -->
    <article class="card">
      <header class="card-header">
        <h3 class="title">Frontend Practice</h3>
        <h4 class="subtitle">Component #3</h4>
      </header>
      <main class="card-content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit,
          fugiat, at libero possimus repudiandae illo totam accusantium,
          mollitia quasi ad debitis explicabo sed! Eius sit excepturi laudantium
          exercitationem ducimus mollitia.
        </p>
      </main>
      <footer class="card-footer">
        <small>6 minute target</small>
        <section>
          <button>Practice</button>
          <button>Skip</button>
        </section>
      </footer>
    </article>
    <script type="module" src="script.ts"></script>
  </body>
</html>
